<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name">
  <textarea name="ingredients" value ="<%= @recipe.ingredients %>"> </textarea>
  <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>