<h1>New Recipe:</h1>

<form action= "/recipes" method="post">
  <div>
    <label for="name">Recipe name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="ingredients">Recipe ingredients:</label>
    <input type="text" id="ingredients" name="ingredients">
  </div>
  <div>
    <label for="cook_time">Recipe cook time:</label>
    <input type="text" id="cook_time" name="cook_time">
  </div>
  <input type="submit" id="submit" name="submit">
  </form>


  
