<h1>Enter a Recipe's Details </h1>

<form class="" action="/recipes" method="post">
  <label for="name">Name: </label><br><br>
  <input type="text" name="name" placeholder="Title of the Recipe"><br><br>

  <label for="ingredients">Ingredients</label><br><br>
  <input type="text" name="ingredients" placeholder="Ingredients of the recipe"><br><br>

  <label for="cook_time">Cook Time: </label><br><br>
  <input type="text" name="cook_time" placeholder="Enter Cook Time"><br><br>

  <input type="submit" value="Submit"><br><br>

</form>
