<h2>Name: <%= @recipe.name %></h2>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook time: <%= @recipe.cook_time %></p>

<form action ="/recipes/<%=@recipe.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="delete" id="delete"/>
</form>
